.show-error {
  transform: translateX(0%);
}
.hide-error {
  transform: translateX(-100%);
}

.loading {
  animation: spin 1.4s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
