@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,800;1,300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body > #root > div {
  height: 100%;
  min-height: 100vh;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
  scrollbar-width: none; /* Firefox */
}

.truncate-text-4-lines {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.delete-cursor {
  cursor: url('https://i.imgur.com/44y927l.png') 0 5, pointer;
}

/* Removes dumb ring around inputs...*/
input:focus {
  box-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width))
    var(--tw-ring-color) !important;
}
